<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery.min.js"></script>

    <link rel="stylesheet" href="/app/dist/style.css">
    <script src="/app/src/js/script-product.js" defer></script>

    <script>
        $(function(){ 
            $("#header").load("/app/src/views/common/header.html"); 
            $("#footer").load("/app/src/views/common/footer.html"); 
        });
    </script>

    <title>Cadastrar Produtos</title>
</head>
<body>
    <div id="header"></div>
    <main>
        <table id = "tableProduct" class="records">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Loja</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="modal" id="modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2>Novo Produto</h2>
                    <span class="modal-close" id="modalClose">&#10006;</span>
                </header>
                <form id = "form" class="modal-form">
                    <input id= "codigo" data-index="new" type="text" class="modal-field" placeholder="Código" required>
                    <input id="produto" type="text" class="modal-field" placeholder="Produto" required>
                    <input id="quantidade" type="text" class="modal-field" placeholder="Quantidade" required>
                    <input id="loja" type="text" class="modal-field" placeholder="Loja" required>
                </form>
                <footer class="modal-footer">
                    <button id="salvar" class="button green noselect">Salvar</button>
                    <button id="cancelar" class="button blue noselect">Cancelar</button>
                </footer>
            </div>
        </div>
        <div class="register-back">
            <button type="button" class="button blue mobile interno" id="cadastrarProduto">Cadastrar Produto</button>
            <a href="/index.html"><button type="button" class="button-return button blue" style="margin-top: 0px;">Voltar</button></a>
        </div>
    </main>
    <div id="footer">
    </div>
</body>
</html>